<section id="main-search">
  <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left title">
              <h1>{{name}}</h1>
            </div>
            <div id="search" class="col-lg-6 searchBar">
            
                <input #searchInput type="text" class="form-control" placeholder="Search for stuff..." (keyup.enter)="getSearchInput(searchInput.value); searchInput.value=''">
            </div>
            <div *ngIf="hasSearched" class="col-lg-2 ypButton ">       
                <button class="askYP, btn btn-default"(click)="askYP()"><img class="yellowLogo" src="{{ypLogo}}"/> Stores Near Me</button>
            </div>
        </div>
    </div>
</section>
<footer>
  <p class="alignLeft">Created by: Stephanie Hurtado, Jack Li, Caio Paiva, Andres Kebe</p>
  <p class="alignRight">Powered by:
    <img src="../app/img/yellow_pages.png" alt="YellowAPI, " style="width:30px;height:30px;">,
    <i class="fa fa-twitter fa-lg" alt="Twitter API, " aria-hidden="true"></i>,
    <img src="../app/img/angular2.svg" alt="Angular 2, " style="width:25px;height:25px;">,
    <i class="fa fa-html5 fa-lg" alt="HTML5, " aria-hidden="true"></i>,
    <i class="fa fa-css3 fa-lg" alt="CSS3" aria-hidden="true"></i></p>
</footer>
